@tailwind base;
@tailwind components;
@tailwind utilities;

.goog-te-banner-frame.skiptranslate {
  display: none !important;
} 
 .goog-te-banner {
  display: none !important;
} 
.goog-te-gadget {
  height: 0 !important;
  overflow: hidden !important;
}
body {
  top: 0px !important;
} 

